@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Counter ReciclagemDePlástico = "1" />

<Counter PlantioDeÁrvore = "10" />

<Counter DescarteDeEletrônicos = "5" />

